body {
  font-family: "Microsoft JhengHei", sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
  text-align: center;
  line-height: 1.6;
}

/* 頁首 */
header {
  background: #222;
  color: white;
  padding: 40px 20px;
}

header h1 {
  font-size: 40px;  /* 大標題 */
  margin: 0;
}

header h2 {
  font-size: 20px;  /* 副標題 */
  margin-top: 20px;
}

header p {
  font-size: 20px;  /* 頁首介紹文字 */
}

/* 輪播提示文字 */
.swiper-tip {
  font-size: 14px;
  margin: 20px 0;
}

/* 輪播容器 */
.swiper {
  width: 100%;
  max-width: 2400px;
  height: 70vh;
  margin: auto;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* 輪播圖片 */
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

/* 分頁圓點 */
.swiper-pagination-bullet {
  background: #ff6600;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #ff0000;
}

/* 價格方案 */
#pricing h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

#pricing p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.plan-box {
  background: white;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 200px;
}

.plan-box h3 {
  font-size: 24px;
}

.plan-box .price {
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0;
}

.plan-box ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  color: #555;
  width: fit-content;
  text-align: left;
  font-size: 18px;
  
}

/* LINE 按鈕 */
.line-btn a {
  display: inline-block;
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  padding: 20px 50px;
  border-radius: 30px;
  text-decoration: none;
  border: 2px solid #00ff40;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: 0.3s;
  background: #06C755;
}

.line-btn a:hover {
  background: #04a944;
}

/* 聯絡資訊 */
.contact-info {
  font-size: 26px;
  line-height: 1;
  text-align: center;
  margin-top: 20px;
}

.contact-info a {
  color: #333;
  text-decoration: none;
}
